{% extends 'main.html' %}
{% block title %} Lista samochodów {% endblock %}

{% block content %}
{# block.super #}


<table class="table table-dark table-striped">
    <thead>
    <th>Marka</th>
    <th>Model</th>
    <th>Rok</th>
    <th>Typ nadwozia</th>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td><a href="/cars/{{car.id}}">{{car.brand}}</a></td>
            <td>{{car.model}}</td>
            <td>{{car.production_year}}</td>
            <td>{{car.body_type}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}